.search-company {
    display: block;
    position: relative;
    padding-top: 100%;
}

.search-company_splitted {
    padding-left: -15px;
    padding-right: -15px;
}

.search-company_spplitted .map {
    float: left;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.search-company_splitted .profile {
    float: left;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.search-company_splitted .chat {
    float: left;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}