@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<figure class="header-figure">
    <figcaption class="header__caption">
    </figcaption>
    <img src="~/app/layout/home/content/background.jpg" alt="background" class="header__img"/>
    <img src="~/app/layout/home/content/animated-sheet.png" alt="animated-sheet" 
            class="header__animated-sheet"/>
    <div class="header__sheet"></div>
</figure>
<div class="alert alert-info text-center">
    Получите незабываемый опыт путешествий или просто весело проведите
     время в новой компании. Познакомьтесь с новыми людьми.
    Поделитесь своими впечатлениями с другими
</div>
<div class="container map-chat">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title text-center">
                Найти компанию
            </h1>
        </div>
        <div class="panel-body">
            <div id="searchCompany" data-users-url="@Url.Action("GetUsers")" data-google-api-key="@ConfigurationManager.AppSettings["GoogleMapsApiKey"]"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@AssetsProvider.Instance.Assets.homeIndex.js"></script>
}
