@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="header__img"></div>
    <div class="header__animated-sheet"></div>
    <div class="header__sheet"></div>
</div>
<div class="alert alert-info text-center">
    Получите незабываемый опыт путешествий или просто весело проведите
     время в новой компании. Познакомьтесь с новыми людьми.
    Поделитесь своими впечатлениями с другими
</div>
<div class="container map-chat">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title text-center">
                Найти компанию
            </h1>
        </div>
        <div class="panel-body">
            <div class="company-searcher" 
                 data-users-url="@Url.Action("GetUsers")" 
                 data-google-api-key="@ConfigurationManager.AppSettings["GoogleMapsApiKey"]"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@AssetsProvider.Instance.Assets.homeIndex.js"></script>
}
